@model IEnumerable<AllYourPlates.WebMVC.ViewModels.GroupedPlatesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



@foreach (var item in Model)
{
    <h2>@item.Date</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                     @Html.DisplayNameFor(model => item.Plates.First().Timestamp) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Plates.First().Description)
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plate in item.Plates)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => plate.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => plate.Description)
                    </td>
                    <td>
                        <img src="~/plates/@(plate.PlateId)_thmb.jpeg" style="height: 100px; width: auto;" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@plate.PlateId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@plate.PlateId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@plate.PlateId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}




